/* Global start */
body {
    /* font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5; */
    font: 1rem/1.5 Arial,
        Helvetica,
        sans-serif;

    margin: 0;
    padding: 0;

    background-color: #f4f4f4;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.button-submit {
    padding: 0.5rem 1rem;
    height: 2.2rem;
    background-color: #f4a261;
    outline: 0;
    border: none;
    margin-left: 0.25rem;
    color: #f1faee;
}

.button-submit:hover {
    cursor: pointer;
    background-color: #e76f51;
}

/* Global end */


/* Header start */
header {
    background-color: #264653;
    color: #fff;
    padding-top: 2rem;
    min-height: 4.5rem;
    border-bottom: 0.5rem solid #2a9d8f;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}


header li {
    float: left;
    display: inline;
    padding: 0 1.5rem;
}

header #brand {
    float: left;
}

header #brand h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 0.7rem;
}

header .highlight,
header .current a {
    color: #e9c46a;
    font-weight: boid;
}

header a:hover,
header h1:hover {
    color: #f4a261;
    font-weight: bold;
}

/* Header end */

/* Section start */
/* newsletter start*/
#newsletter {
    padding: 1rem;
    color: #e9c46a;
    background-color: #264653;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 1rem;
}

#newsletter input[type='email'] {
    padding: 4px;
    height: 1.5rem;
    width: 15rem;
}

/* newsletter end */

/* sidebar */
aside.sidebar {
    float: right;
    width: 27%;
    margin: 2.5rem 1rem;
    color: #fff;
    padding: 1rem 1.5rem;
}

/* article */
article.main-article {
    float: left;
    width: 65%;
    margin-top: 1rem;
}

/* Section end */


/* footer start */
footer {
    padding: 1rem;
    color: #fff;
    background-color: #2a9d8f;
    text-align: center;
}