@import './global.css';

.tabs {
    background-color: var(--colorDark);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container>div {
    padding: 1.5rem 0;
}

.tabs .container>div:hover {
    color: var(--colorWhite);
    cursor: pointer;
}

.container {
    min-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.tab-border {
    border-bottom: 4px solid var(--colorPrimary);

}

.tab-content {
    padding: 3rem 0;
    background-color: var(--colorBlack);
    color: var(--colorWhite);
}

/* tab 1 */
#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

/* tab 2 */
#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

#tab-2-content .tab-2-content-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.tab-item {}