@import './global.css';

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th {
    text-transform: uppercase;
    padding: 1rem;
}

.table tbody tr td {
    color: var(--colorGrey);
    padding: 1rem 1.2rem;
    text-align: center;
}

.table thead th:first-child,
.table tbody tr td:first-child {
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background-color: #444;
}

.table tbody tr:hover {
    background-color: var(--colorGrey);
}

.table tbody tr:hover td {
    color: var(--colorBlack);
}