.stats {
    padding-top: 6.5rem;
}

.stats__heading {
    text-align: center;
    max-width: 31.25rem;
    margin: auto;
    /* justify-content: center; */
}

.stats__text {
    font-size: 2.25rem;
}

.stats__text p {
    font-size: 1.25rem;
    font-weight: bold;
}