.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: -2px;
}

.btn__cta {
    font-size: 1.2rem;
    background-color: #fff;
    padding: 0.9rem 1.8rem;
    color: var(--body-font-color);
    border-radius: 0.4rem;
    transition: background-color 0.7s;
}

.btn__cta:hover,
.btn__cta:focus {
    color: #fff;
    background-color: var(--secondary-font-color);
}

.btn__body {
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color 0.7s;
}

.btn__body::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2.5px;
    background-color: var(--secondary-font-color);
    transition: background-color 0.7s;
}

.btn__body:hover,
.btn__body:focus {
    color: var(--main-font-color-dark);
}

.btn__body:hover::before,
.btn__body:focus::before {
    background-color: var(--main-font-color-dark);
}

.btn__newsletter {
    background-color: transparent;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1px 0.6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 21rem;
}

.btn__newsletter:hover {
    color: var(--main-font-color-dark);
}