.discover {}

.discover__restaurant-info {
    text-align: center;
}

.discover__restaurant-descripton {
    margin-bottom: 3rem;
}

.discover__restaurant-descripton p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
}