.discover {
    text-align: center;
}

.discover__restaurant-info {
}

.discover__restaurant-descripton {
    margin-bottom: 3rem;
}

.discover__restaurant-descripton p {
    line-height: 1.6;
    margin-bottom: 2.5rem;
}


.discover__restaurant-info {}