.headline {
    font-size: 8.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: 200;
    line-height: 0.5;
    letter-spacing: 2px;
    margin-right: -2px;
    margin-top: 5rem;

    /* animate */
    opacity: 0;
    animation: fadeUp 0.7s forwards;
    animation-delay: 0.7s;
}

.headline__first-letter {
    text-transform: uppercase;
    font-style: 10.5rem;
}

.headline__title {
    color: #fff;
    font-size: 3.5rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.5rem;
    margin-right: -0.5rem;
    margin-top: 0.5rem;

    /* animate */
    animation: scale 0.7s forwards;
}

.headline__global {
    text-align: center;
    margin-top: 4rem;
}

.headline__global--top {
    margin-top: 7rem;
}

.headline__asterisk {
    font-size: 1.2rem;
    color: var(--body-font-color);
    margin: 2.4rem 0;

     /* animate */
     opacity: 0;
     animation: spin 0.5s forwards;
     animation-delay: 0.7s;
}

.headline__title--dark {
    color: var(--main-font-color-dark);
    letter-spacing: 0.6rem;
    margin-right: -0.6rem;
}